*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* -----header----- */

.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(background3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header img{
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

nav{
    display: flex;
    padding: 1% 8%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: lightyellow;
    text-decoration: none;

}

.nav-links ul li a:hover{
    background-color: goldenrod;
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 10px;

}
.text-box{
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    color:black;
}
.text-box{
    max-width: 10px 0px 40px;
    color: whitesmoke ;
    
}
.btn{
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid rgb(14, 21, 4);
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid olive;
    background-color: saddlebrown;
    transition: 0.5s;
}

/*----fruits---*/
.fruits{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-weight: 600;

}

p{
    color:black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.fruit-colum{
    flex-basis: 31%;
    background-color: burlywood;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;

}
.fruit-colum:hover{
    background-color: orange;
}
.fruit-colum p{
    text-align: left;
}

/*----delivery options----*/

.delivery{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.platforms{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: block;
}

.platforms img{
    width: 100%;
    display:block;

}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background-color:rgba(153, 127, 127, 0.5);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color:black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 48%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-colum{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-colum img{
    width: 100%;
    border-radius: 10px;
}
.facilities{
    padding: 0;
}
.facilities-colum h2{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.feedback{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.feedback-colum{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: brown;
    padding: 25px;
    cursor: pointer;
    display: flex;

}
.feedback-colum img{
    height: 40px;
    margin: 5%;
    border-radius: 50%;
}
.feedback-colum p{
    padding: 0%;
}
.feedback-colum h3{
    margin-top: 15px;
    text-align: left;
}
.feedback-colum .fa-solid{
    color: red;
}